<app-nav></app-nav>

<div class="container">

  <div class="row col-md-8 title">
    <span class="tool-title tool-header-title">VUTTR</span>
  </div>
  <div class="row col-md-8 title">
    <span class="tool-description tool-header-description">Very Useful Tools to Remember</span>
  </div>


  <div class="row col-md-8 search-box">
    <div class="search-item">
        <span id="g-search-button"></span>
        <input class="search-input" type="text" placeholder="search" name="search" /> 
    </div>
    <div class="search-item open-modal-item">
        <button id="modalTrigger" type="button" class="btn btn-primary add-item" data-toggle="modal" data-target="#exampleModal">+Add</button>
    </div>
  </div>
  <div class="row col-md-8 card-area" *ngFor="let item of toolslist; index as i">
    <div class="card-box" >
      <div class="tool-title">
        <a href="{{item.link}}">{{ item.title }}</a>
        <span class="delete-tool" (click)="deleteTool(item.id, item.title)">x</span>
      </div>
      <div class="tool-description">{{ item.description }}</div>
      <div class="tools-tags">#organization #planning #collaboration #writting</div>
    </div>
  </div>
</div>
<!-- End of Container Fluid -->

<app-footer></app-footer>
<!-- Button trigger modal -->
   
  <!-- Modal -->
  <div id="exampleModal" #exampleModal class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new tool</h5>
          <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" #toolsForm="ngForm" (ngSubmit)="onFormSubmit(toolsForm)" >
                <fieldset>
                    <!--- Tool name Block --->
                    <div class="form-group">
                      <label for="inputEmail">Tool name</label>
                      <br/>
                      <input type="text"
                        id="title"
                        [ngModel] = "tools.title"
                        name="title"
                        class="tool-add-input">
                    </div>

                    <!--- Tool link Block --->
                    <div class="form-group">
                        <label for="inputEmail">Tool link</label>
                        <br/>
                        <input type="text"
                          id="link"
                          [ngModel] = "tools.link"
                          name="link"
                          class="tool-add-input">
                    </div>
                      
                    <!--- Description Block --->
                    <div class="form-group">
                        <label for="inputEmail">Description</label>
                        <br/>
                        <input type="text"
                          id="description"
                          [ngModel] = "tools.description"
                          name="description"
                          class="tool-add-input">
                    </div>      
                    <div class="modal-footer">
                        <button type="button" #closeModal class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Add tool</button>
                    </div>
                </fieldset>
              </form>
          </div>

      </div>
    </div>
  </div>