<app-nav></app-nav>

<div class="container">

  <div class="row col-md-8 title">
    <span class="tool-title">VUTTR</span>
  </div>
  <div class="row col-md-8 title">
    <span class="tool-description">Very Useful Tools to Remember</span>
  </div>


  <div class="row col-md-8 search-box">
    <div class="search-item">
        <input class="search-input" type="text" name="search" /> 
    </div>
    <div class="search-item">
        <button id="modalTrigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>
    </div>
  </div>
  <div class="row col-md-8 card-area">
    <div class="card-box">
      <div class="tool-title">Notion</div>
      <div class="tool-description">All in one tool to organize teams and ideas. Write, plan, collaborate, and get organized</div>
      <div class="tools-tags">#organization #planning #collaboration #writting</div>
    </div>
  </div>
</div>
<!-- End of Container Fluid -->

<app-footer></app-footer>
<!-- Button trigger modal -->
   
  <!-- Modal -->
  <div id="exampleModal" #exampleModal class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" #toolsForm="ngForm" (ngSubmit)="onFormSubmit(toolsForm)">
                <fieldset>
                  <legend>Add new tool</legend>
                 
                    <!--- Tool name Block --->
                    <div class="form-group">
                      <label for="inputEmail">Tool name</label>
                      <br/>
                      <input type="text"
                        id="title"
                        [ngModel] = "tools.title"
                        name="title"
                        placeholder="Tool name">
                    </div>

                    <!--- Tool link Block --->
                    <div class="form-group">
                        <label for="inputEmail">Tool link</label>
                        <br/>
                        <input type="text"
                          id="link"
                          [ngModel] = "tools.link"
                          name="link"
                          placeholder="link">
                    </div>
                      
                    <!--- Description Block --->
                    <div class="form-group">
                        <label for="inputEmail">Description</label>
                        <br/>
                        <input type="text"
                          id="description"
                          [ngModel] = "tools.description"
                          name="description"
                          placeholder="description">
                    </div>      
                    <div class="modal-footer">
                        <button type="button" #closeModal class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </fieldset>
              </form>
          </div>

      </div>
    </div>
  </div>